<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Parameter Vocabularies for Siri Media Intents -->
    <key>ParameterVocabularies</key>
    <array>
        <!-- Lullabies vocabulary -->
        <dict>
            <key>ParameterNames</key>
            <array>
                <string>INPlayMediaIntent.mediaSearch.mediaName</string>
                <string>INSearchForMediaIntent.mediaSearch.mediaName</string>
            </array>
            <key>ParameterVocabulary</key>
            <array>
                <dict>
                    <key>VocabularyItemIdentifier</key>
                    <string>lullabies</string>
                    <key>VocabularyItemSynonyms</key>
                    <array>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>lullabies</string>
                        </dict>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>lullaby</string>
                        </dict>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>bedtime songs</string>
                        </dict>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>sleep songs</string>
                        </dict>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>baby songs</string>
                        </dict>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>nursery songs</string>
                        </dict>
                    </array>
                </dict>
                <!-- Classical music vocabulary -->
                <dict>
                    <key>VocabularyItemIdentifier</key>
                    <string>classical</string>
                    <key>VocabularyItemSynonyms</key>
                    <array>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>classical music</string>
                        </dict>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>classical</string>
                        </dict>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>Mozart</string>
                        </dict>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>Bach</string>
                        </dict>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>Brahms</string>
                        </dict>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>Chopin</string>
                        </dict>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>Beethoven</string>
                        </dict>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>orchestral music</string>
                        </dict>
                    </array>
                </dict>
                <!-- Nature sounds vocabulary -->
                <dict>
                    <key>VocabularyItemIdentifier</key>
                    <string>nature</string>
                    <key>VocabularyItemSynonyms</key>
                    <array>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>nature sounds</string>
                        </dict>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>nature</string>
                        </dict>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>ocean sounds</string>
                        </dict>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>ocean waves</string>
                        </dict>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>beach sounds</string>
                        </dict>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>river sounds</string>
                        </dict>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>forest sounds</string>
                        </dict>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>bird sounds</string>
                        </dict>
                    </array>
                </dict>
                <!-- Fairy tales vocabulary -->
                <dict>
                    <key>VocabularyItemIdentifier</key>
                    <string>fairytales</string>
                    <key>VocabularyItemSynonyms</key>
                    <array>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>fairy tales</string>
                        </dict>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>fairytales</string>
                        </dict>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>stories</string>
                        </dict>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>bedtime stories</string>
                        </dict>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>children stories</string>
                        </dict>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>kids stories</string>
                        </dict>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>sleep stories</string>
                        </dict>
                    </array>
                </dict>
                <!-- Emergency / Calm baby vocabulary -->
                <dict>
                    <key>VocabularyItemIdentifier</key>
                    <string>emergency</string>
                    <key>VocabularyItemSynonyms</key>
                    <array>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>emergency</string>
                        </dict>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>calm baby</string>
                        </dict>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>soothe baby</string>
                        </dict>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>baby crying</string>
                        </dict>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>cry again</string>
                        </dict>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>crying again</string>
                        </dict>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>help baby</string>
                        </dict>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>stop crying</string>
                        </dict>
                    </array>
                </dict>
                <!-- Ambient vocabulary -->
                <dict>
                    <key>VocabularyItemIdentifier</key>
                    <string>ambient</string>
                    <key>VocabularyItemSynonyms</key>
                    <array>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>ambient</string>
                        </dict>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>ambient music</string>
                        </dict>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>relaxing music</string>
                        </dict>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>calming music</string>
                        </dict>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>soothing music</string>
                        </dict>
                        <dict>
                            <key>VocabularyItemPhrase</key>
                            <string>peaceful music</string>
                        </dict>
                    </array>
                </dict>
            </array>
        </dict>
    </array>
</dict>
</plist>
