<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>IntentPhrases</key>
    <array>
        <dict>
            <key>IntentName</key>
            <string>INPlayMediaIntent</string>
            <key>IntentExamples</key>
            <array>
                <string>Joue des berceuses dans Soothbee</string>
                <string>Joue de la musique classique dans Soothbee</string>
                <string>Joue de la musique apaisante dans Soothbee</string>
            </array>
        </dict>
        <dict>
            <key>IntentName</key>
            <string>INSearchForMediaIntent</string>
            <key>IntentExamples</key>
            <array>
                <string>Trouve Mozart dans Soothbee</string>
                <string>Cherche des berceuses dans Soothbee</string>
            </array>
        </dict>
        <dict>
            <key>IntentName</key>
            <string>INAddMediaIntent</string>
            <key>IntentExamples</key>
            <array>
                <string>Ajouter aux favoris dans Soothbee</string>
                <string>Enregistrer cette chanson dans Soothbee</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
