<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>IntentPhrases</key>
    <array>
        <dict>
            <key>IntentName</key>
            <string>INPlayMediaIntent</string>
            <key>IntentExamples</key>
            <array>
                <string>Toque canções de ninar no Soothbee</string>
                <string>Toque música clássica no Soothbee</string>
                <string>Toque música relaxante no Soothbee</string>
            </array>
        </dict>
        <dict>
            <key>IntentName</key>
            <string>INSearchForMediaIntent</string>
            <key>IntentExamples</key>
            <array>
                <string>Encontre Mozart no Soothbee</string>
                <string>Procure canções de ninar no Soothbee</string>
            </array>
        </dict>
        <dict>
            <key>IntentName</key>
            <string>INAddMediaIntent</string>
            <key>IntentExamples</key>
            <array>
                <string>Adicionar aos favoritos no Soothbee</string>
                <string>Salvar esta música no Soothbee</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
