<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>IntentPhrases</key>
    <array>
        <dict>
            <key>IntentName</key>
            <string>INPlayMediaIntent</string>
            <key>IntentExamples</key>
            <array>
                <string>Soothbeeで子守唄を再生</string>
                <string>Soothbeeでクラシック音楽を再生</string>
                <string>Soothbeeで癒しの音楽を再生</string>
            </array>
        </dict>
        <dict>
            <key>IntentName</key>
            <string>INSearchForMediaIntent</string>
            <key>IntentExamples</key>
            <array>
                <string>Soothbeeでモーツァルトを検索</string>
                <string>Soothbeeで子守唄を検索</string>
            </array>
        </dict>
        <dict>
            <key>IntentName</key>
            <string>INAddMediaIntent</string>
            <key>IntentExamples</key>
            <array>
                <string>Soothbeeでお気に入りに追加</string>
                <string>Soothbeeでこの曲を保存</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
