<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>IntentPhrases</key>
    <array>
        <dict>
            <key>IntentName</key>
            <string>INPlayMediaIntent</string>
            <key>IntentExamples</key>
            <array>
                <string>Включи колыбельные в Soothbee</string>
                <string>Включи классическую музыку в Soothbee</string>
                <string>Включи спокойную музыку в Soothbee</string>
            </array>
        </dict>
        <dict>
            <key>IntentName</key>
            <string>INSearchForMediaIntent</string>
            <key>IntentExamples</key>
            <array>
                <string>Найди Моцарта в Soothbee</string>
                <string>Найди колыбельные в Soothbee</string>
            </array>
        </dict>
        <dict>
            <key>IntentName</key>
            <string>INAddMediaIntent</string>
            <key>IntentExamples</key>
            <array>
                <string>Добавить в избранное в Soothbee</string>
                <string>Сохрани эту песню в Soothbee</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
