<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>IntentPhrases</key>
    <array>
        <dict>
            <key>IntentName</key>
            <string>INPlayMediaIntent</string>
            <key>IntentExamples</key>
            <array>
                <string>Pon canciones de cuna en Soothbee</string>
                <string>Pon música clásica en Soothbee</string>
                <string>Pon música relajante en Soothbee</string>
            </array>
        </dict>
        <dict>
            <key>IntentName</key>
            <string>INSearchForMediaIntent</string>
            <key>IntentExamples</key>
            <array>
                <string>Busca Mozart en Soothbee</string>
                <string>Busca canciones de cuna en Soothbee</string>
            </array>
        </dict>
        <dict>
            <key>IntentName</key>
            <string>INAddMediaIntent</string>
            <key>IntentExamples</key>
            <array>
                <string>Añadir a favoritos en Soothbee</string>
                <string>Guardar esta canción en Soothbee</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
