openapi: 3.0.3
info:
  title: Baby in Car API
  description: |
    API for the AnticryBaby/Baby in Car application - a calming audio platform for babies.

    ## Features
    - Audio content library with streaming
    - AI-powered personalized recommendations (Llama 3.1)
    - Baby profile management with developmental stage tracking
    - Analytics and effectiveness tracking
    - Premium subscriptions via App Store
    - CarPlay support

    ## Authentication
    Most endpoints require JWT authentication. Include the token in the Authorization header:
    ```
    Authorization: Bearer {token}
    ```

    ## Rate Limiting
    - Default: 100 requests/minute per user
    - Rate limit headers included in responses
  version: 1.0.0
  contact:
    name: AnticryBaby Support
    email: support@babyincar.app
  license:
    name: Proprietary

servers:
  - url: https://api.babyincar.app
    description: Production server
  - url: http://localhost:8787
    description: Local development server

tags:
  - name: Health
    description: Health check endpoints
  - name: Authentication
    description: User authentication and session management
  - name: Users
    description: User profile and settings management
  - name: Babies
    description: Baby profile management
  - name: Content
    description: Audio content catalog and recommendations
  - name: Audio
    description: Audio streaming and file management
  - name: Music Generation
    description: AI-powered music generation using Suno API
  - name: Analytics
    description: Playback and effectiveness analytics
  - name: AI
    description: AI-powered recommendations and advice
  - name: Subscriptions
    description: Premium subscription management
  - name: Curation
    description: Audio library curation (admin)

paths:
  /:
    get:
      tags:
        - Health
      summary: API info and health check
      operationId: getApiInfo
      responses:
        '200':
          description: API status
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    example: Baby in Car API
                  version:
                    type: string
                    example: 1.0.0
                  status:
                    type: string
                    example: healthy
                  environment:
                    type: string
                    enum: [development, production]
                  timestamp:
                    type: string
                    format: date-time

  /health:
    get:
      tags:
        - Health
      summary: Simple health status
      operationId: getHealth
      responses:
        '200':
          description: Health status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  timestamp:
                    type: string
                    format: date-time

  # ============ AUTHENTICATION ============
  /auth/register:
    post:
      tags:
        - Authentication
      summary: Register new user
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Email already registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/login:
    post:
      tags:
        - Authentication
      summary: Login with email and password
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/apple:
    post:
      tags:
        - Authentication
      summary: Sign in with Apple
      operationId: appleSignIn
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id_token
              properties:
                id_token:
                  type: string
                  description: Apple ID token
                authorization_code:
                  type: string
                  description: Apple authorization code (optional)
      responses:
        '200':
          description: Apple Sign-In successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/refresh:
    post:
      tags:
        - Authentication
      summary: Refresh JWT token
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refresh_token
              properties:
                refresh_token:
                  type: string
      responses:
        '200':
          description: Token refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenRefreshResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/logout:
    delete:
      tags:
        - Authentication
      summary: Logout and invalidate session
      operationId: logout
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                refresh_token:
                  type: string
                all_devices:
                  type: boolean
                  description: Logout from all devices
      responses:
        '200':
          description: Logged out successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ============ USERS ============
  /users/me:
    get:
      tags:
        - Users
      summary: Get current user profile
      operationId: getCurrentUser
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      tags:
        - Users
      summary: Update user profile
      operationId: updateCurrentUser
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: User updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: Email already taken
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Users
      summary: Delete user account
      operationId: deleteCurrentUser
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - confirm_email
              properties:
                confirm_email:
                  type: string
                  description: Must match user email to confirm deletion
      responses:
        '200':
          description: Account deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /users/me/settings:
    get:
      tags:
        - Users
      summary: Get user settings
      operationId: getUserSettings
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User settings
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  settings:
                    $ref: '#/components/schemas/UserSettings'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      tags:
        - Users
      summary: Update user settings
      operationId: updateUserSettings
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSettings'
      responses:
        '200':
          description: Settings updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  settings:
                    $ref: '#/components/schemas/UserSettings'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /users/me/favorites:
    get:
      tags:
        - Users
      summary: Get user favorites
      operationId: getUserFavorites
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User favorites
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  favorites:
                    type: array
                    items:
                      $ref: '#/components/schemas/Favorite'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
        - Users
      summary: Add to favorites
      operationId: addFavorite
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                track_id:
                  type: string
                playlist_id:
                  type: string
      responses:
        '200':
          description: Added to favorites
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      tags:
        - Users
      summary: Remove from favorites
      operationId: removeFavorite
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                track_id:
                  type: string
                playlist_id:
                  type: string
      responses:
        '200':
          description: Removed from favorites
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ============ BABIES ============
  /babies:
    get:
      tags:
        - Babies
      summary: Get all baby profiles
      operationId: getBabies
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of baby profiles
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  babies:
                    type: array
                    items:
                      $ref: '#/components/schemas/Baby'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
        - Babies
      summary: Create baby profile
      operationId: createBaby
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBabyRequest'
      responses:
        '201':
          description: Baby profile created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  baby:
                    $ref: '#/components/schemas/Baby'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /babies/{id}:
    get:
      tags:
        - Babies
      summary: Get baby profile
      operationId: getBaby
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/BabyId'
      responses:
        '200':
          description: Baby profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  baby:
                    $ref: '#/components/schemas/Baby'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - Babies
      summary: Update baby profile
      operationId: updateBaby
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/BabyId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBabyRequest'
      responses:
        '200':
          description: Baby profile updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  baby:
                    $ref: '#/components/schemas/Baby'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Babies
      summary: Delete baby profile
      operationId: deleteBaby
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/BabyId'
      responses:
        '200':
          description: Baby profile deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /babies/{id}/preferences:
    post:
      tags:
        - Babies
      summary: Update baby preferences
      operationId: updateBabyPreferences
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/BabyId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BabyPreferencesRequest'
      responses:
        '200':
          description: Preferences updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  preferences:
                    $ref: '#/components/schemas/BabyPreferences'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============ CONTENT ============
  /content/tracks:
    get:
      tags:
        - Content
      summary: Get all tracks
      operationId: getTracks
      security:
        - bearerAuth: []
      parameters:
        - name: category
          in: query
          schema:
            $ref: '#/components/schemas/AudioCategory'
        - name: language
          in: query
          schema:
            type: string
        - name: age_min
          in: query
          schema:
            type: integer
            minimum: 0
          description: Minimum age in months
        - name: age_max
          in: query
          schema:
            type: integer
            maximum: 36
          description: Maximum age in months
        - name: search
          in: query
          schema:
            type: string
          description: Search in title/artist
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: List of tracks
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  tracks:
                    type: array
                    items:
                      $ref: '#/components/schemas/Track'
                  total:
                    type: integer
                  has_more:
                    type: boolean

  /content/tracks/{id}:
    get:
      tags:
        - Content
      summary: Get track details
      operationId: getTrack
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TrackId'
      responses:
        '200':
          description: Track details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track:
                    $ref: '#/components/schemas/Track'
        '404':
          $ref: '#/components/responses/NotFound'

  /content/playlists:
    get:
      tags:
        - Content
      summary: Get all playlists
      operationId: getPlaylists
      security:
        - bearerAuth: []
      parameters:
        - name: category
          in: query
          schema:
            $ref: '#/components/schemas/AudioCategory'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: List of playlists
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  playlists:
                    type: array
                    items:
                      $ref: '#/components/schemas/Playlist'
                  total:
                    type: integer
                  has_more:
                    type: boolean

  /content/playlists/{id}:
    get:
      tags:
        - Content
      summary: Get playlist with tracks
      operationId: getPlaylist
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Playlist with tracks
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  playlist:
                    $ref: '#/components/schemas/PlaylistWithTracks'
        '404':
          $ref: '#/components/responses/NotFound'

  /content/recommendations:
    get:
      tags:
        - Content
      summary: Get personalized recommendations
      operationId: getRecommendations
      security:
        - bearerAuth: []
      parameters:
        - name: baby_id
          in: query
          required: true
          schema:
            type: string
        - name: mood
          in: query
          schema:
            $ref: '#/components/schemas/BabyMood'
        - name: trip_duration
          in: query
          schema:
            type: string
            enum: [quick, medium, long, road_trip]
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
            maximum: 30
      responses:
        '200':
          description: Personalized recommendations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /content/stream/{track_id}:
    get:
      tags:
        - Content
      summary: Get streaming URL for track
      operationId: getStreamUrl
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TrackId'
      responses:
        '200':
          description: Streaming URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  audio_source_type:
                    type: string
                    enum: [generated, recorded]
                  stream_url:
                    type: string
                    description: Signed URL (for recorded) or generator type (for generated)
                  expires_at:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PremiumRequired'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============ AUDIO ============
  /audio/stream/{trackId}:
    get:
      tags:
        - Audio
      summary: Stream audio file
      operationId: streamAudio
      parameters:
        - $ref: '#/components/parameters/TrackId'
        - name: Range
          in: header
          schema:
            type: string
          description: Range header for partial content
      responses:
        '200':
          description: Full audio file
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
        '206':
          description: Partial audio content
          headers:
            Content-Range:
              schema:
                type: string
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
        '403':
          $ref: '#/components/responses/PremiumRequired'
        '404':
          $ref: '#/components/responses/NotFound'

  /audio/file/{key}:
    get:
      tags:
        - Audio
      summary: Direct file access from R2
      operationId: getAudioFile
      parameters:
        - name: key
          in: path
          required: true
          schema:
            type: string
          description: R2 file key
      responses:
        '200':
          description: Audio file
          content:
            audio/*:
              schema:
                type: string
                format: binary
        '206':
          description: Partial audio content
          content:
            audio/*:
              schema:
                type: string
                format: binary
        '404':
          $ref: '#/components/responses/NotFound'

  /audio/upload:
    post:
      tags:
        - Audio
      summary: Upload audio file (admin only)
      operationId: uploadAudio
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - category
                - title
              properties:
                file:
                  type: string
                  format: binary
                category:
                  $ref: '#/components/schemas/AudioCategory'
                title:
                  type: string
                artist:
                  type: string
      responses:
        '201':
          description: Audio uploaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  track_id:
                    type: string
                  r2_key:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/AdminRequired'

  /audio/{trackId}:
    delete:
      tags:
        - Audio
      summary: Delete audio track (admin only)
      operationId: deleteAudio
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TrackId'
      responses:
        '200':
          description: Track deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '403':
          $ref: '#/components/responses/AdminRequired'
        '404':
          $ref: '#/components/responses/NotFound'

  /audio/list:
    get:
      tags:
        - Audio
      summary: List R2 files (admin only)
      operationId: listAudioFiles
      security:
        - bearerAuth: []
      parameters:
        - name: prefix
          in: query
          schema:
            type: string
            default: audio/
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of files
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  files:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        size:
                          type: integer
                        uploaded:
                          type: string
                          format: date-time
                  cursor:
                    type: string
        '403':
          $ref: '#/components/responses/AdminRequired'

  /audio/stats:
    get:
      tags:
        - Audio
      summary: Get audio library statistics
      operationId: getAudioStats
      responses:
        '200':
          description: Library statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioStats'

  # ============ ANALYTICS ============
  /analytics/playback:
    post:
      tags:
        - Analytics
      summary: Record playback event
      operationId: recordPlayback
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaybackEvent'
      responses:
        '201':
          description: Event recorded
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  event_id:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /analytics/effectiveness:
    post:
      tags:
        - Analytics
      summary: Record track effectiveness
      operationId: recordEffectiveness
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EffectivenessEvent'
      responses:
        '201':
          description: Effectiveness recorded
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  record_id:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /analytics/emergency:
    post:
      tags:
        - Analytics
      summary: Record emergency session start
      operationId: recordEmergencySession
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmergencySession'
      responses:
        '201':
          description: Session recorded
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  session_id:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /analytics/emergency/{id}:
    put:
      tags:
        - Analytics
      summary: Update emergency session
      operationId: updateEmergencySession
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmergencySessionUpdate'
      responses:
        '200':
          description: Session updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /analytics/insights/{baby_id}:
    get:
      tags:
        - Analytics
      summary: Get baby analytics insights
      operationId: getInsights
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/BabyId'
      responses:
        '200':
          description: Analytics insights
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsInsights'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============ AI ============
  /ai/recommend:
    post:
      tags:
        - AI
      summary: Get AI-powered recommendations
      description: Uses Llama 3.1 to generate personalized track recommendations based on baby profile, mood, and context.
      operationId: getAiRecommendations
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiRecommendRequest'
      responses:
        '200':
          description: AI recommendations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiRecommendResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /ai/emergency-advice:
    post:
      tags:
        - AI
      summary: Get AI emergency cry-stop advice
      description: Uses AI to provide immediate guidance for calming a crying baby.
      operationId: getEmergencyAdvice
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmergencyAdviceRequest'
      responses:
        '200':
          description: Emergency advice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmergencyAdviceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /ai/analyze-effectiveness:
    post:
      tags:
        - AI
      summary: Analyze track effectiveness patterns
      description: Uses AI to analyze why certain tracks work for a baby based on historical data.
      operationId: analyzeEffectiveness
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - baby_id
              properties:
                baby_id:
                  type: string
      responses:
        '200':
          description: Effectiveness analysis
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EffectivenessAnalysis'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /ai/generate-story:
    post:
      tags:
        - AI
      summary: Generate personalized bedtime story (premium)
      description: Uses AI to generate a custom bedtime story personalized for the baby.
      operationId: generateStory
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateStoryRequest'
      responses:
        '200':
          description: Generated story
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneratedStory'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PremiumRequired'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============ SUBSCRIPTIONS ============
  /subscriptions/verify:
    post:
      tags:
        - Subscriptions
      summary: Verify App Store receipt
      operationId: verifySubscription
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyReceiptRequest'
      responses:
        '200':
          description: Receipt verified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionVerifyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /subscriptions/status:
    get:
      tags:
        - Subscriptions
      summary: Get subscription status
      operationId: getSubscriptionStatus
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Subscription status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /subscriptions/webhook:
    post:
      tags:
        - Subscriptions
      summary: App Store server notification webhook
      description: Receives server-to-server notifications from Apple for subscription events.
      operationId: subscriptionWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Signed JWS payload from Apple
      responses:
        '200':
          description: Webhook processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  # ============ MUSIC GENERATION ============
  /music/presets:
    get:
      tags:
        - Music Generation
      summary: List music generation presets
      description: Get all available AI music generation presets optimized for baby content
      operationId: getMusicPresets
      parameters:
        - name: category
          in: query
          schema:
            $ref: '#/components/schemas/AudioCategory'
          description: Filter by audio category
        - name: age
          in: query
          schema:
            type: integer
            minimum: 0
            maximum: 36
          description: Filter by target age in months
      responses:
        '200':
          description: List of presets
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  presets:
                    type: array
                    items:
                      $ref: '#/components/schemas/MusicPreset'

  /music/presets/{id}:
    get:
      tags:
        - Music Generation
      summary: Get preset details
      operationId: getMusicPreset
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Preset details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  preset:
                    $ref: '#/components/schemas/MusicPresetFull'
        '404':
          $ref: '#/components/responses/NotFound'

  /music/generate:
    post:
      tags:
        - Music Generation
      summary: Generate music from prompt
      description: |
        Generate AI music from a custom text prompt using Suno API.
        Requires admin authentication.
        The generation is asynchronous - check status with GET /music/status/{taskId}
      operationId: generateMusic
      security:
        - bearerAuth: []
      parameters:
        - name: callback_url
          in: query
          schema:
            type: string
            format: uri
          description: Webhook URL for completion notification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MusicGenerationRequest'
      responses:
        '200':
          description: Generation started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /music/generate/preset/{id}:
    post:
      tags:
        - Music Generation
      summary: Generate from preset
      description: Generate music using a predefined preset
      operationId: generateFromPreset
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: callback_url
          in: query
          schema:
            type: string
            format: uri
      responses:
        '200':
          description: Generation started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerationResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /music/status/{taskId}:
    get:
      tags:
        - Music Generation
      summary: Check generation status
      operationId: getMusicStatus
      security:
        - bearerAuth: []
      parameters:
        - name: taskId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicTaskStatus'

  /music/store/{taskId}:
    post:
      tags:
        - Music Generation
      summary: Store generated tracks
      description: Download completed generation and store in R2/database
      operationId: storeMusicTracks
      security:
        - bearerAuth: []
      parameters:
        - name: taskId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                category:
                  $ref: '#/components/schemas/AudioCategory'
      responses:
        '200':
          description: Tracks stored
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  stored:
                    type: integer
                  tracks:
                    type: array
                    items:
                      type: object
                      properties:
                        originalId:
                          type: string
                        trackId:
                          type: string
                        r2Key:
                          type: string
                        title:
                          type: string

  /music/lyrics:
    post:
      tags:
        - Music Generation
      summary: Generate lyrics
      description: Generate baby-appropriate lyrics from a prompt
      operationId: generateLyrics
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - prompt
              properties:
                prompt:
                  type: string
                style:
                  type: string
      responses:
        '200':
          description: Generated lyrics
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  lyrics:
                    type: string
                  title:
                    type: string

  /music/credits:
    get:
      tags:
        - Music Generation
      summary: Get credit balance
      description: Check remaining API credits for music generation
      operationId: getMusicCredits
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Credit balance
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  credits:
                    type: integer
                  plan:
                    type: string

  /music/batch:
    post:
      tags:
        - Music Generation
      summary: Batch generate from presets
      description: Generate multiple tracks from different presets (max 10)
      operationId: batchGenerateMusic
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - presetIds
              properties:
                presetIds:
                  type: array
                  items:
                    type: string
                  maxItems: 10
                callbackUrl:
                  type: string
                  format: uri
      responses:
        '200':
          description: Batch results
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  total:
                    type: integer
                  succeeded:
                    type: integer
                  failed:
                    type: integer
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        presetId:
                          type: string
                        success:
                          type: boolean
                        taskId:
                          type: string
                        error:
                          type: string

  /music/callback:
    post:
      tags:
        - Music Generation
      summary: Music generation webhook
      description: Webhook endpoint for async generation completion
      operationId: musicCallback
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Callback received
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  received:
                    type: boolean

  # ============ CURATION ============
  /curation/stats:
    get:
      tags:
        - Curation
      summary: Get curation statistics
      operationId: getCurationStats
      responses:
        '200':
          description: Curation statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurationStats'

  /curation/run:
    post:
      tags:
        - Curation
      summary: Trigger curation run (admin only)
      operationId: runCuration
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                category:
                  $ref: '#/components/schemas/AudioCategory'
      responses:
        '200':
          description: Curation started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '403':
          $ref: '#/components/responses/AdminRequired'

  /curation/discover:
    get:
      tags:
        - Curation
      summary: Preview discoverable audio (admin only)
      operationId: discoverAudio
      security:
        - bearerAuth: []
      parameters:
        - name: query
          in: query
          schema:
            type: string
            default: white noise baby
        - name: category
          in: query
          schema:
            $ref: '#/components/schemas/AudioCategory'
      responses:
        '200':
          description: Discovered samples
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  samples:
                    type: array
                    items:
                      type: object
        '403':
          $ref: '#/components/responses/AdminRequired'

  /curation/history:
    get:
      tags:
        - Curation
      summary: Get curation history (admin only)
      operationId: getCurationHistory
      security:
        - bearerAuth: []
      parameters:
        - name: days
          in: query
          schema:
            type: integer
            default: 7
      responses:
        '200':
          description: Curation history
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  history:
                    type: array
                    items:
                      type: object
        '403':
          $ref: '#/components/responses/AdminRequired'

  /curation/sources:
    get:
      tags:
        - Curation
      summary: Get audio sources
      operationId: getCurationSources
      responses:
        '200':
          description: Audio sources
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  sources:
                    type: array
                    items:
                      $ref: '#/components/schemas/AudioSource'

  /curation/sources/{id}/toggle:
    post:
      tags:
        - Curation
      summary: Toggle audio source (admin only)
      operationId: toggleCurationSource
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Source toggled
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  enabled:
                    type: boolean
        '403':
          $ref: '#/components/responses/AdminRequired'
        '404':
          $ref: '#/components/responses/NotFound'

  /curation/quality-report:
    get:
      tags:
        - Curation
      summary: Get quality report
      operationId: getQualityReport
      responses:
        '200':
          description: Quality report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QualityReport'

  /curation/tracks/{id}:
    delete:
      tags:
        - Curation
      summary: Remove low-quality track (admin only)
      operationId: removeLowQualityTrack
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TrackId'
      responses:
        '200':
          description: Track removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '403':
          $ref: '#/components/responses/AdminRequired'
        '404':
          $ref: '#/components/responses/NotFound'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    BabyId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Baby profile ID
    TrackId:
      name: trackId
      in: path
      required: true
      schema:
        type: string
      description: Track ID
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 50
        maximum: 100
      description: Results per page
    Offset:
      name: offset
      in: query
      schema:
        type: integer
        default: 0
      description: Pagination offset

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    PremiumRequired:
      description: Premium subscription required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    AdminRequired:
      description: Admin access required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string

    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string

    # Auth schemas
    RegisterRequest:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
          description: Required for email auth
        name:
          type: string
        auth_provider:
          type: string
          enum: [email, apple]
          default: email
        apple_id_token:
          type: string
          description: Required for Apple Sign-In

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string

    AuthResponse:
      type: object
      properties:
        success:
          type: boolean
        user:
          $ref: '#/components/schemas/User'
        token:
          type: string
          description: JWT token (1 hour expiry)
        refresh_token:
          type: string
          description: Refresh token (30 days expiry)

    TokenRefreshResponse:
      type: object
      properties:
        success:
          type: boolean
        token:
          type: string
        refresh_token:
          type: string

    # User schemas
    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        name:
          type: string
        auth_provider:
          type: string
          enum: [email, apple]
        subscription_status:
          type: string
          enum: [free, premium, family]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    UpdateUserRequest:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
          format: email
        current_password:
          type: string
        new_password:
          type: string
          minLength: 8

    UserSettings:
      type: object
      properties:
        notifications_enabled:
          type: boolean
          default: true
        auto_play_carplay:
          type: boolean
          default: true
        max_volume_db:
          type: integer
          minimum: 30
          maximum: 70
          default: 50
        default_sleep_timer_minutes:
          type: integer
          minimum: 5
          maximum: 120
          default: 30
        preferred_languages:
          type: array
          items:
            type: string
        theme:
          type: string
          enum: [light, dark, auto]
          default: auto

    Favorite:
      type: object
      properties:
        id:
          type: string
        track_id:
          type: string
        playlist_id:
          type: string
        track:
          $ref: '#/components/schemas/Track'
        playlist:
          $ref: '#/components/schemas/Playlist'
        created_at:
          type: string
          format: date-time

    # Baby schemas
    Baby:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        birth_date:
          type: string
          format: date
        photo_url:
          type: string
        age_months:
          type: integer
          description: Calculated age in months
        developmental_stage:
          $ref: '#/components/schemas/DevelopmentalStage'
        preferences:
          $ref: '#/components/schemas/BabyPreferences'
        created_at:
          type: string
          format: date-time

    CreateBabyRequest:
      type: object
      required:
        - name
        - birth_date
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 50
        birth_date:
          type: string
          format: date
        photo_data:
          type: string
          description: Base64 encoded photo

    UpdateBabyRequest:
      type: object
      properties:
        name:
          type: string
        birth_date:
          type: string
          format: date
        photo_data:
          type: string

    BabyPreferencesRequest:
      type: object
      properties:
        effective_track_id:
          type: string
        calming_time_seconds:
          type: integer
        favorite_category:
          $ref: '#/components/schemas/AudioCategory'
        preferred_language:
          type: string

    BabyPreferences:
      type: object
      properties:
        favorite_category:
          $ref: '#/components/schemas/AudioCategory'
        preferred_language:
          type: string
        most_effective_tracks:
          type: array
          items:
            type: string
        average_calming_time:
          type: integer

    DevelopmentalStage:
      type: string
      enum:
        - fourth_trimester
        - early_regulation
        - sensory_exploration
        - motor_development
        - vocabulary_burst
        - sentence_building
        - imagination_growth

    # Content schemas
    AudioCategory:
      type: string
      enum:
        - white_noise
        - nature_sounds
        - classical_music
        - fairy_tales
        - instrumental
        - children_songs
        - podcasts
        - lullabies
        - ambient

    Track:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        artist:
          type: string
        category:
          $ref: '#/components/schemas/AudioCategory'
        duration_seconds:
          type: integer
        audio_source_type:
          type: string
          enum: [generated, recorded]
        stream_url:
          type: string
        thumbnail_url:
          type: string
        is_premium:
          type: boolean
        calming_score:
          type: number
          format: float
          minimum: 0
          maximum: 1
        language:
          type: string
        age_min_months:
          type: integer
        age_max_months:
          type: integer
        created_at:
          type: string
          format: date-time

    Playlist:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        category:
          $ref: '#/components/schemas/AudioCategory'
        thumbnail_url:
          type: string
        track_count:
          type: integer
        total_duration:
          type: integer
        is_premium:
          type: boolean

    PlaylistWithTracks:
      allOf:
        - $ref: '#/components/schemas/Playlist'
        - type: object
          properties:
            tracks:
              type: array
              items:
                $ref: '#/components/schemas/Track'

    RecommendationsResponse:
      type: object
      properties:
        success:
          type: boolean
        baby:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            age_months:
              type: integer
            developmental_stage:
              $ref: '#/components/schemas/DevelopmentalStage'
        recommended_tracks:
          type: array
          items:
            $ref: '#/components/schemas/Track'
        emergency_tracks:
          type: array
          items:
            $ref: '#/components/schemas/Track'
        recommended_playlists:
          type: array
          items:
            $ref: '#/components/schemas/Playlist'
        personalization_score:
          type: number
          format: float

    BabyMood:
      type: string
      enum:
        - sleepy
        - crying
        - playful
        - calm
        - fussy

    # Analytics schemas
    PlaybackEvent:
      type: object
      required:
        - track_id
        - event_type
        - position_seconds
        - session_id
      properties:
        baby_id:
          type: string
        track_id:
          type: string
        event_type:
          type: string
          enum: [play, pause, complete, skip]
        position_seconds:
          type: integer
        session_id:
          type: string
        context:
          type: string
          enum: [home, carplay, emergency]

    EffectivenessEvent:
      type: object
      required:
        - baby_id
        - track_id
        - was_effective
      properties:
        baby_id:
          type: string
        track_id:
          type: string
        was_effective:
          type: boolean
        calming_time_seconds:
          type: integer
        context:
          type: string
          enum: [crying, fussy, sleepy]
        emergency_mode:
          type: boolean

    EmergencySession:
      type: object
      required:
        - baby_id
        - started_at
      properties:
        baby_id:
          type: string
        started_at:
          type: string
          format: date-time
        ended_at:
          type: string
          format: date-time
        phases_completed:
          type: array
          items:
            type: string
        was_successful:
          type: boolean
        tracks_used:
          type: array
          items:
            type: string

    EmergencySessionUpdate:
      type: object
      properties:
        ended_at:
          type: string
          format: date-time
        phases_completed:
          type: array
          items:
            type: string
        was_successful:
          type: boolean
        tracks_used:
          type: array
          items:
            type: string

    AnalyticsInsights:
      type: object
      properties:
        success:
          type: boolean
        insights:
          type: object
          properties:
            total_listening_time_minutes:
              type: integer
            most_effective_category:
              $ref: '#/components/schemas/AudioCategory'
            most_effective_tracks:
              type: array
              items:
                type: object
                properties:
                  track_id:
                    type: string
                  success_rate:
                    type: number
            average_calming_time_seconds:
              type: integer
            emergency_mode_usage:
              type: object
              properties:
                total_activations:
                  type: integer
                success_rate:
                  type: number

    # AI schemas
    AiRecommendRequest:
      type: object
      required:
        - baby_id
      properties:
        baby_id:
          type: string
        mood:
          $ref: '#/components/schemas/BabyMood'
        trip_duration_minutes:
          type: integer
        time_of_day:
          type: string
          enum: [morning, afternoon, evening, night]
        context:
          type: string

    AiRecommendResponse:
      type: object
      properties:
        success:
          type: boolean
        baby:
          type: object
          properties:
            name:
              type: string
            age_months:
              type: integer
            stage:
              $ref: '#/components/schemas/DevelopmentalStage'
        ai_recommendation:
          type: object
          properties:
            primary_recommendation:
              type: object
              properties:
                category:
                  $ref: '#/components/schemas/AudioCategory'
                reasoning:
                  type: string
                suggested_tracks:
                  type: array
                  items:
                    type: string
                expected_effectiveness:
                  type: number
            alternative_recommendations:
              type: array
              items:
                type: object
            calming_strategy:
              type: object
              properties:
                approach:
                  type: string
                phases:
                  type: array
                  items:
                    type: string
                estimated_calming_time_minutes:
                  type: integer
            tips_for_parent:
              type: array
              items:
                type: string
            warning_signs:
              type: array
              items:
                type: string
        recommended_tracks:
          type: array
          items:
            $ref: '#/components/schemas/Track'
        model_used:
          type: string
          example: "@cf/meta/llama-3.1-8b-instruct"

    EmergencyAdviceRequest:
      type: object
      required:
        - baby_id
      properties:
        baby_id:
          type: string
        crying_duration_minutes:
          type: integer
        intensity:
          type: string
          enum: [mild, moderate, severe]
        tried_sounds:
          type: array
          items:
            type: string

    EmergencyAdviceResponse:
      type: object
      properties:
        success:
          type: boolean
        emergency_advice:
          type: object
          properties:
            immediate_action:
              type: string
            sound_sequence:
              type: array
              items:
                type: object
                properties:
                  sound:
                    type: string
                  duration_seconds:
                    type: integer
                  volume:
                    type: number
            calming_technique:
              type: string
            safety_reminder:
              type: string
            when_to_stop:
              type: string
            expected_result:
              type: string
        recommended_generator:
          type: string

    EffectivenessAnalysis:
      type: object
      properties:
        success:
          type: boolean
        baby:
          type: object
          properties:
            name:
              type: string
            age_months:
              type: integer
            stage:
              $ref: '#/components/schemas/DevelopmentalStage'
        analysis:
          type: object
          properties:
            patterns_identified:
              type: array
              items:
                type: string
            most_effective_characteristics:
              type: object
              properties:
                categories:
                  type: array
                  items:
                    $ref: '#/components/schemas/AudioCategory'
                tempo_range:
                  type: string
                best_contexts:
                  type: array
                  items:
                    type: string
            insights:
              type: string
            recommendations:
              type: array
              items:
                type: string
            developmental_note:
              type: string
        data_points_analyzed:
          type: integer

    GenerateStoryRequest:
      type: object
      required:
        - baby_id
      properties:
        baby_id:
          type: string
        theme:
          type: string
          default: gentle adventure
        include_name:
          type: boolean
          default: true
        length:
          type: string
          enum: [short, medium, long]
          default: medium

    GeneratedStory:
      type: object
      properties:
        success:
          type: boolean
        story:
          type: object
          properties:
            text:
              type: string
            theme:
              type: string
            length:
              type: string
            personalized:
              type: boolean
            estimated_duration_seconds:
              type: integer

    # Subscription schemas
    VerifyReceiptRequest:
      type: object
      required:
        - receipt_data
        - product_id
      properties:
        receipt_data:
          type: string
          description: Base64 encoded App Store receipt
        product_id:
          type: string
          example: com.babyincar.premium.monthly

    SubscriptionVerifyResponse:
      type: object
      properties:
        success:
          type: boolean
        valid:
          type: boolean
        subscription:
          type: object
          properties:
            product_id:
              type: string
            expires_at:
              type: string
              format: date-time
            is_trial:
              type: boolean
            will_renew:
              type: boolean
        entitlements:
          type: array
          items:
            type: string
            enum:
              - premium_content
              - offline_downloads
              - all_languages
              - unlimited_emergency
              - carplay
              - advanced_ai
              - family_sharing
              - multiple_profiles

    SubscriptionStatus:
      type: object
      properties:
        success:
          type: boolean
        subscription:
          type: object
          properties:
            status:
              type: string
              enum: [free, premium, family]
            is_active:
              type: boolean
            expires_at:
              type: string
              format: date-time
              nullable: true
            entitlements:
              type: array
              items:
                type: string

    # Audio stats schema
    AudioStats:
      type: object
      properties:
        success:
          type: boolean
        stats:
          type: object
          properties:
            totals:
              type: object
              properties:
                total_tracks:
                  type: integer
                total_duration:
                  type: integer
                premium_tracks:
                  type: integer
                free_tracks:
                  type: integer
            by_category:
              type: array
              items:
                type: object
                properties:
                  category:
                    $ref: '#/components/schemas/AudioCategory'
                  count:
                    type: integer
                  duration:
                    type: integer
            by_source_type:
              type: array
              items:
                type: object
                properties:
                  source_type:
                    type: string
                  count:
                    type: integer

    # Curation schemas
    CurationStats:
      type: object
      properties:
        success:
          type: boolean
        library:
          type: object
          properties:
            totals:
              type: object
              properties:
                total_tracks:
                  type: integer
                total_duration:
                  type: integer
                sources_count:
                  type: integer
                categories_count:
                  type: integer
                total_size_mb:
                  type: number
                total_hours:
                  type: number
                premium_tracks:
                  type: integer
                free_tracks:
                  type: integer
            by_category_and_source:
              type: array
              items:
                type: object
            recent_additions:
              type: array
              items:
                $ref: '#/components/schemas/Track'
        available_categories:
          type: array
          items:
            $ref: '#/components/schemas/AudioCategory'

    AudioSource:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        enabled:
          type: boolean
        track_count:
          type: integer

    QualityReport:
      type: object
      properties:
        success:
          type: boolean
        report:
          type: object
          properties:
            score_distribution:
              type: array
              items:
                type: object
                properties:
                  range:
                    type: string
                  count:
                    type: integer
            top_tracks:
              type: array
              items:
                $ref: '#/components/schemas/Track'
            needs_review:
              type: array
              items:
                $ref: '#/components/schemas/Track'
            category_health:
              type: array
              items:
                type: object
                properties:
                  category:
                    $ref: '#/components/schemas/AudioCategory'
                  average_score:
                    type: number
                  track_count:
                    type: integer
            generated_at:
              type: string
              format: date-time

    # Music Generation schemas
    MusicPreset:
      type: object
      properties:
        id:
          type: string
          example: "lullaby_gentle_piano"
        name:
          type: string
          example: "Gentle Piano Lullaby"
        category:
          $ref: '#/components/schemas/AudioCategory'
        instrumental:
          type: boolean
        language:
          type: string
          example: "instrumental"
        targetAge:
          type: object
          properties:
            min:
              type: integer
            max:
              type: integer

    MusicPresetFull:
      allOf:
        - $ref: '#/components/schemas/MusicPreset'
        - type: object
          properties:
            prompt:
              type: string
              description: The AI prompt used for generation
            style:
              type: string
              description: Music style tags

    MusicGenerationRequest:
      type: object
      required:
        - prompt
      properties:
        prompt:
          type: string
          description: Text description of the music to generate
          example: "A gentle, soothing piano lullaby for babies"
        lyrics:
          type: string
          description: Custom lyrics (optional)
        style:
          type: string
          description: Music style/genre tags
          example: "lullaby, piano, soft, gentle"
        title:
          type: string
          description: Title for the generated track
        instrumental:
          type: boolean
          default: true
          description: Whether to generate instrumental only
        duration:
          type: integer
          minimum: 30
          maximum: 240
          description: Target duration in seconds
        model:
          type: string
          enum: [v4, v4.5, v5]
          default: v4.5
          description: Suno AI model version

    MusicGenerationResponse:
      type: object
      properties:
        success:
          type: boolean
        taskId:
          type: string
          description: Task ID for status polling
        status:
          type: string
          enum: [pending, processing, completed, failed]
        tracks:
          type: array
          items:
            $ref: '#/components/schemas/GeneratedTrack'
        credits:
          type: object
          properties:
            used:
              type: integer
            remaining:
              type: integer

    GeneratedTrack:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        audioUrl:
          type: string
          format: uri
        imageUrl:
          type: string
          format: uri
        duration:
          type: number
        lyrics:
          type: string
        style:
          type: string
        createdAt:
          type: string
          format: date-time

    MusicTaskStatus:
      type: object
      properties:
        success:
          type: boolean
        taskId:
          type: string
        status:
          type: string
          enum: [pending, processing, completed, failed]
        progress:
          type: integer
          minimum: 0
          maximum: 100
        tracks:
          type: array
          items:
            $ref: '#/components/schemas/GeneratedTrack'
        error:
          type: string
